.page {
  position: relative;
  box-sizing: border-box;
  min-width: 320px;
  max-width: $narrow-width;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: $font;
  font-size: 2rem;
  color: $dark-shades;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;

  &-play {
    background-image: radial-gradient(73% 147%, #dfeaea 59%, #dbdff1 100%), radial-gradient(91% 146%, rgba(200, 224, 206, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  }
}

@media (min-width: $middle-width) {
  .page {
    max-width: $middle-width;
    font-size: 2.4rem;
  }
}

@media (min-width: $extra-wide-width) {
  .page {
    max-width: $extra-wide-width;
    font-size: 2.4rem;
  }
}
