.swiper-outer {
  position: relative;
}

.swiper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 75vh;
}

.swiper-arrow {
  top: 15%;
  width: 60px;
  height: 70%;
  outline: none;
}

#swiper-custom {
  bottom: 0;
}

@media (min-width: 320px) and (max-width: 540px) {
  .swiper-container {
    width: 320px;
    height: 85vh;
  }

  .swiper-button-prev {
    left: -10px;
  }

  .swiper-button-next {
    right: -10px;
  }
}

@media (min-width: 541px) and (max-width: 800px) {
  .swiper-container {
    width: 90%;
    height: 80vh;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 20px;
  }

  .swiper-button-prev {
    left: 5px;
  }

  .swiper-button-next {
    right: 5px;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .swiper-container {
    width: 90%;
    height: 70vh;
  }

  .swiper-button-prev {
    left: 30px;
  }

  .swiper-button-next {
    right: 30px;
  }
}

@media (min-width: 1025px) {
  .swiper-button-prev {
    left: -60px;
  }

  .swiper-button-next {
    right: -60px;
  }
}
