.swiper-outer {
  position: relative;
}

.swiper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 75vh;
}

.swiper-arrow {
  top: 15%;
  width: 60px;
  height: 70%;
  outline: none;
}

#swiper-custom {
  bottom: 0;
}

@media (min-width: 320px) and (max-width: 450px) {
  .swiper-outer {
    margin-bottom: var(--margin-bottom-big);
  }

  .swiper-container {
    width: 320px;
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

@media (min-width: 451px) {
  .swiper-button-prev {
    left: -60px;
  }

  .swiper-button-next {
    right: -60px;
  }
}
