.categories {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 100%;
  justify-items: center;
  row-gap: 15rem;
  width: $narrow-width;
  padding: 0;
  margin-top: 20rem;
  margin-bottom: 6rem;
  list-style: none;

  &__container {
    perspective: 500px;
  }

  &__item {
    position: relative;
    width: 300px;
    height: 180px;
    scroll-snap-align: center;
    border-radius: 0.8rem;
    transition: transform 1s linear;
    transform: rotateY(0);
    transform-style: preserve-3d;

    &-rotate {
      transition: transform 1s linear;
      transform: rotateY(180deg);
    }

    &-button {
      position: absolute;
      right: 1rem;
      bottom: 0.5rem;
      font-size: 4rem;
      color: $dark-shades;
      cursor: pointer;
      background-color: transparent;
      border: none;
      opacity: 1;
      transition: opacity 1.3s ease-in;
      backface-visibility: hidden;

      &_hide {
        display: none;
      }

      &-rotate {
        opacity: 0;
        transition: opacity 1.3s ease-out;
      }

      &:hover {
        color: $succes-color;
        filter: brightness(0.7);
        transition: color 0.5s linear;
      }
    }

    &_front {
      position: absolute;
      top: 0;
      bottom: 0;
    }

    &_reverse {
      position: absolute;
      top: 0;
      bottom: 0;
      transform: rotateY(180deg);
      backface-visibility: hidden;
    }

    &:hover {
      box-shadow: 0 7px 10px 1px rgba(65, 65, 65, 0.2);
      transition: all 0.15s linear;
    }
  }
}

@media (min-width: $middle-width) {
  .categories {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 700px;
    row-gap: 10rem;
    margin-top: 18rem;
  }
}

@media (min-width: $wide-width) and (max-width: 1279px) {
  .categories {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100vw;
  }
}

@media (min-width: $extra-wide-width) {
  .categories {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
  }
}
