$color-default: #ffffff;
$color-primary: #000000;
$color-warning: #dc9d38;
$color-danger: #f44336;
$color-succes: #8ba7b9;
$color-info: #5fad70;

$background-main: linear-gradient(to top, $color-succes 0%, $color-default 100%);

$font-logo: 'Notable', sans-serif;
