.keyboard {
  --small-height: 38vh;
  --font: 'Sen', sans-serif;
  --font-color: #0e1518;
  --font-hover: #2a94b5;

  position: absolute;
  right: 0;
  bottom: -50%;
  left: 0;
  z-index: 99;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 40%;
  padding: 15px 5px 60px;
  margin: 0 auto;
  color: var(--font-color);
  background-color: #8ba7b9f1;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
  transition: bottom 0.3s ease-out;
}

.keyboard_show {
  bottom: calc(var(--footer-height) - 40px);
  animation-name: bounce;
  animation-duration: 0.8s;
}

.keyboard__key {
  box-sizing: border-box;
  width: 5%;
  height: 15%;
  margin: 8px 11px;
  font-family: var(--font);
  font-size: 2.3rem;
  line-height: 1;
  color: var(--font-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #8ba7b9;
  border: 1px solid #8ba7b9;
  border-radius: 10px;
  outline: none;
  box-shadow:
    -5px 5px 15px #5d707c,
    5px -5px 15px #b9def6;
  transition: var(--default-transition);
}

.keyboard__key:active {
  color: var(--font-hover);
  text-shadow: #6a949b 1px -1px 10px;
  background: linear-gradient(45deg, #b9def6, #5d707c);
}

.keyboard__key:hover {
  color: var(--font-hover);
  transition: var(--default-transition);
}

.keyboard__key_double {
  width: 10%;
  font-size: 2rem;
}

.keyboard__key_triple {
  width: 15%;
}

.keyboard__key_space {
  width: 60%;
}

.keyboard__key_space:active {
  text-shadow: #6a949b 1px 0 30px;
  background: linear-gradient(5deg, #b9def6, #5d707c);
}

.linebreak {
  display: inline-block;
  width: 100%;
  height: 0;
}

@media (min-width: 320px) and (max-width: 512px) {
  .keyboard {
    display: none;
  }
}
