.moviecard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  text-align: center;
  list-style: none;
}

.moviecard__image {
  width: 95%;
  height: 50vh;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.55);
}

.moviecard__title {
  display: inline-flex;
  margin: 0 auto;
  margin-bottom: var(--margin-bottom-small);
  font-size: 2.4rem;
  line-height: 1.1;
  color: var(--color-primary);
  text-transform: capitalize;
  transition: var(--default-transition);
}

.moviecard__title:hover {
  color: var(--color-success);
  transition: var(--default-transition);
}

.moviecard__title_small {
  margin: 0 -1rem 4px;
  font-size: 1.8rem;
  line-height: 1.5;
}

.moviecard__title_tiny {
  margin: 0 -2rem 10px;
  font-size: 1.6rem;
  line-height: 1.3;
}

.moviecard__year {
  margin: 30px 0 0;
  font-size: 2.1rem;
  line-height: 1.3;
  color: var(--color-primary);
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

.moviecard__rating {
  align-self: flex-start;
  margin: -23px 0 0 12px;
  font-size: 2rem;
  line-height: 1;
  color: var(--color-gold);
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

.moviecard__rating-name {
  color: var(--color-success);
}

.moviecard__info_hidden {
  position: absolute;
  top: 45px;
  right: 0;
  left: 0;
  z-index: var(--z-index-top);
  display: none;
  width: 96%;
  height: 51vh;
  padding: 0;
  margin: 0 auto;
  margin-top: -12px;
  overflow: hidden;
  background-color: #8ba7b9a1;
  border-radius: 10px;
  backdrop-filter: blur(9px) grayscale(0.4);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: var(--default-transition);
}

.moviecard__info_show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: var(--default-transition);
}

.moviecard__info-item {
  padding: 0;
  font-size: 2rem;
  font-weight: 600;
  color: rgba(5, 5, 5, 0.76);
  list-style: none;
}

.moviecard__info_list {
  padding: 0;
}

.moviecard__info_button {
  align-self: flex-end;
  width: 30px;
  height: 30px;
  margin: -24px 15px 0 0;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-success);
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: transparent;
  border: 3px solid var(--color-success);
  border-radius: 50%;
  transition: var(--default-transition);
}

.moviecard__info_button:hover {
  filter: saturate(10);
  transition: var(--default-transition);
}

.moviecard__info_close {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: var(--z-index-top);
  align-self: flex-end;
  width: 30px;
  height: 30px;
  padding: 0 0 0.2rem;
  font-size: 4rem;
  line-height: 0;
  color: var(--color-danger);
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: var(--default-transition);
}

@media (min-width: 320px) and (max-width: 540px) {
  .moviecard__image {
    width: 65%;
    height: 320px;
  }

  .moviecard__info_button {
    display: none;
  }

  .moviecard__rating {
    align-self: center;
    margin: 0;
    font-size: 2rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 540px) and (max-width: 768px) {
  .moviecard__image {
    height: 440px;
  }

  .moviecard__title {
    margin-bottom: 0;
    font-size: 2.2rem;
  }

  .moviecard__title_small {
    margin: 0;
  }

  .moviecard__title_tiny {
    margin: 0;
  }

  .moviecard__info_button {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1600px) {
  .moviecard__info_button {
    margin: -25px 13px 0 0;
  }
}
