.moviecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  text-align: center;
  list-style: none;
}

.moviecard__title {
  display: inline-flex;
  margin: 0 -3rem;
  margin-bottom: var(--margin-bottom-small);
  font-size: 2.8rem;
  line-height: 1.1;
  color: var(--color-primary);
  text-transform: capitalize;
  transition: all 0.3s linear;
}

.moviecard__title:hover {
  color: var(--color-success);
  transition: all 0.3s linear;
}

.moviecard__year {
  margin: 0;
  font-size: 2.1rem;
  line-height: 1.2;
  color: var(--color-primary);
}

.moviecard__rating {
  font-size: 2rem;
  line-height: 1.5;
  color: gold;
}
