.item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 360px;
  height: 180px;
  margin: 0;
  cursor: pointer;
  background-color: $primary-color;
  border-radius: 0.5rem;
  box-shadow:
    0 10px 20px -12px rgba(0, 0, 0, 0.42),
    0 3px 20px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2),
    inset 10px 10px 61px -22px rgba(0, 0, 0, 0.58);

  &__image {
    position: absolute;
    top: -100px;
    height: auto;
    filter: saturate(1.5) drop-shadow(0 10px 5px rgba(0, 0, 0, 0.42));

    &-inner {
      width: 320px;
      border: 1px solid $default-color;
      border-radius: 0.5rem;
    }
  }

  &__description {
    font-size: 2.5rem;
    font-weight: 900;
    color: $dark-shades;
  }
}

@media (min-width: $middle-width) {
  .item {
    width: 300px;

    &__image {
      top: -60px;

      &-inner {
        width: 260px;
      }
    }
  }
}
