.footer {
  z-index: var(--z-index-top);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--footer-height);
  padding: 1rem var(--padding-for-centering);
  color: var(--color-default);
  background-color: var(--color-primary);
  background-image: var(--background-header);
}

.footer__link_logo {
  display: inline-block;
  width: 100px;
  height: 100%;
  background-image: url("/assets/rs_school.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer__link {
  font-family: var(--font-author);
  font-size: 3rem;
  color: var(--color-default);
  text-decoration: none;
  transition: all 0.5s linear;
}

.footer__link:hover {
  color: var(--color-success);
  transition: all 0.5s linear;
}

@media (min-width: 320px) and (max-width: 450px) {
  .footer {
    display: none;
  }
}
