@media (min-width: 320px) and (max-width: 511px) {
  .header {
    grid-template-rows: repeat(2, 50px);
    grid-template-columns: 300px;
    justify-items: center;
    padding-bottom: var(--margin-bottom-small);
    text-align: center;
  }

  .header__title {
    font-size: 2rem;
  }
}

@media (min-width: 512px) and (max-width: 1280px) {
  .header {
    grid-template-rows: repeat(2, 60px);
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
