.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-top-for-container) var(--padding-for-centering) 0;
}

.main-container__textfield {
  display: inline-block;
  width: 100%;
  height: 2rem;
  margin-bottom: 15px;
  font-size: 1.8rem;
  color: var(--color-success);
  text-align: center;
  text-transform: lowercase;
}

.main-container_danger {
  color: var(--color-danger);
}

@media (min-width: 320px) and (max-width: 570px) {
  .main-container {
    padding: 50px 0 1px;
  }

  .main-container__textfield {
    margin-top: 5px;
    font-size: 1.6rem;
  }
}

@media (min-width: 571px) and (max-width: 800px) {
  .main-container__textfield {
    padding: 40px 0 30px;
  }
}

@media (min-width: 801px) and (max-width: 1440px) {
  .main-container {
    padding: 25px 0 30px;
  }

  .main-container__textfield {
    padding: 80px 0 30px;
    font-size: 2.2rem;
  }
}
