.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-top-for-container) var(--padding-for-centering) 0;
}

.main-container__textfield {
  margin-bottom: var(--margin-bottom-small);
  font-size: 2rem;
  color: var(--color-success);
  text-align: center;
  text-transform: lowercase;
}

.main-container_danger {
  color: var(--color-danger);
}

@media (min-width: 320px) and (max-width: 450px) {
  .main-container {
    justify-content: flex-start;
    padding: 120px 0 0;
  }

  .main-container__textfield {
    margin-bottom: var(--margin-bottom-big);
    font-size: 2rem;
  }
}
