.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  color: var(--color-primary);
  background-color: var(--color-default);
  background-image: var(--background-main);
}

@media (min-width: 320px) and (max-width: 570px) {
  .page {
    overflow-y: scroll;
    background-image: none;
  }
}
