.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  color: var(--color-primary);
  background-color: var(--color-default);
  background-image: var(--background-main);
}

@media (min-width: 320px) and (max-width: 450px) {
  .page {
    height: 1024px;
  }
}
