.searcher {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searcher__input {
  width: 100%;
  height: 40px;
  padding: 0.5rem 5rem 1rem 2rem;
  font-size: 2.4rem;
  color: var(--color-primary);
  background-color: var(--color-default);
  border: none;
  border-radius: 1rem 0 0 1rem;
  box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.searcher__input::placeholder {
  font-size: 1.8rem;
  color: var(--color-info);
}

.searcher__button {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0 0 0.2rem;
  font-size: 4rem;
  line-height: 0;
  cursor: pointer;
  border: none;
  transition: var(--default-transition);
}

.searcher__button-reset {
  right: 130px;
  color: var(--color-danger);
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.searcher__button-keyboard {
  right: 150px;
  color: black;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  background-image: url('/assets/keyboard.svg');
  filter: opacity(0.3);
  background-position: center;
  background-size: contain;
}

.searcher__button-keyboard:hover {
  filter: opacity(0.9);
  transition: var(--default-transition);
}

.searcher__button-reset:hover {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  filter: saturate(2.9) contrast(2.5) brightness(1.5);
  transition: var(--default-transition);
  transform: translateY(1px);
}

.searcher__button-submit {
  right: -10px;
  width: 120px;
  height: 40px;
  padding: 0.2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-default);
  text-transform: uppercase;
  background-color: var(--color-success);
  border: 1px solid var(--color-success);
  border-radius: 0 1rem 1rem 0;
}

.searcher__button-submit:hover {
  filter: saturate(1.9) contrast(1.5) brightness(1.2);
  transition: var(--default-transition);
}

@media (min-width: 320px) and (max-width: 570px) {
  .searcher__input {
    width: 280px;
    padding: 0.2rem 7rem 0.2rem 0.5rem;
  }

  .searcher__input::placeholder {
    color: transparent;
  }

  .searcher__button-reset {
    right: 50px;
  }

  .searcher__button-submit {
    width: 60px;
  }
}

@media (min-width: 571px) {
  .searcher__button-reset {
    right: 110px;
  }
}

@media (min-width: 571px) and (max-width: 660px) {
  .searcher__input {
    width: 600px;
    padding: 0.2rem 7rem 0.2rem 0.5rem;
  }
}

@media (min-width: 320px) and (max-width: 1020px) {
  .searcher__button-keyboard {
    display: none;
  }
}
