.footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 70px;
  padding: 1rem 10%;
  color: $color-default;
  background-color: $color-primary;
  background-image: url("/assets/rs_school.svg"), $background-header;
  background-repeat: no-repeat;
  background-position: 10% center;

  &__link {
    font-family: 'Poiret One', cursive;
    font-size: 3rem;
    color: $color-default;
    text-decoration: none;
    transition: all 0.5s linear;

    &:hover {
      color: $color-success;
      transition: all 0.5s linear;
    }
  }
}
