.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: $color-primary;
  background-color: $color-default;
  background-image: $background-main;
}
