.searcher {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__input {
    width: 950px;
    height: 40px;
    padding: 0 5rem 0 2rem;
    font-size: 2.4rem;
    background-color: $background-main;
    border: none;
    border-radius: 1rem 0 0 1rem;
    box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  }

  &__button-reset {
    position: absolute;
    right: 130px;
    width: 30px;
    height: 30px;
    padding: 0.2rem;
    font-size: 4rem;
    line-height: 0;
    color: $color-danger;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  &__button-submit {
    width: 120px;
    height: 40px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.2rem;
    line-height: 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background-color: $color-success;
    border: 1px solid $color-success;
    border-radius: 0 1rem 1rem 0;
  }
}