@mixin burger-inner {
  position: absolute;
  display: block;
  width: 36px;
  height: 5px;
  border-radius: 5px;
}

@mixin toggler-inner {
  position: absolute;
  top: 2px;
  width: 42px;
  height: 42px;
  content: "";
  border-radius: 42px;
}
