.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $z-index-bottom;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: $header-height;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.9;
  backdrop-filter: blur(2px) grayscale(70%);
}

@media (min-width: $middle-width) {
  .header {
    justify-content: space-between;
    width: 100vw;
    height: 12rem;
    padding: 1rem 7rem;
    margin: 0 auto;
    font-size: 2.4rem;
  }
}

@media (min-width: $extra-wide-width) {
  .header {
    justify-content: space-between;
    width: 100vw;
    height: 12rem;
    padding: 2rem 6rem;
    font-size: 2.4rem;
    opacity: 1;
  }
}
