.start {
  width: 240px;
  height: 60px;
  padding: 5px 10px;
  font-weight: 900;
  color: $primary-color;
  text-transform: capitalize;
  cursor: pointer;
  background-color: $dark-shades;
  border: 2px solid $primary-color;
  border-radius: 60px;
}

@media (min-width: $middle-width) {
  .start {
    width: 360px;
  }
}

@media (min-width: $extra-wide-width) {
  .start {
    width: 450px;
  }
}
