.start {
  position: absolute;
  bottom: -50px;
  width: 240px;
  height: 60px;
  padding: 5px 10px;
  font-weight: 900;
  color: $primary-color;
  text-transform: capitalize;
  cursor: pointer;
  background-color: $dark-shades;
  border: 2px solid $primary-color;
  border-radius: 60px;
  opacity: 0;
  transition: opacity 0.2s ease-out;

  &:disabled {
    cursor: initial;
  }

  &:hover {
    filter: saturate(200%);
    transition: all 1s linear;
  }

  &_show {
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
}

@media (min-width: $middle-width) {
  .start {
    width: 360px;
  }
}

@media (min-width: $extra-wide-width) {
  .start {
    width: 450px;
  }
}
