.moviecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  list-style: none;

  &__title {
    font-size: 2.8rem;
    line-height: 2.5;
    color: $color-primary;
    text-transform: capitalize;

    &:hover {
      color: $color-success;
      transition: all 0.3s linear;
    }
  }

  &__year {
    margin: 0;
    font-size: 2.6rem;
    color: $color-primary;
  }

  &__rating {
    font-size: 2.4rem;
  }
}
