.toggler {
  position: relative;
  z-index: $z-index-bottom;
  display: flex;
  align-items: center;
  width: 84px;
  height: 36px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: $primary-color;
  border: 2px solid $dark-shades;
  border-radius: 36px;
  transition: all 0.3s linear;

  &_play {
    color: $primary-color;
    background-color: $dark-shades;
    border-color: $primary-color;
    transition: all 0.3s linear;
  }

  &__description-train {
    display: flex;
    justify-content: flex-start;
    width: 84px;
    width: 40px;
    font-size: 1.5rem;
    font-weight: 900;

    &::after {
      @include toggler-inner;

      right: 2px;
      background-color: $dark-shades;
      transition: all 0.3s linear;
    }
  }

  &__description-play {
    display: flex;
    justify-content: flex-end;
    width: 84px;
    padding-right: 5px;

    &::after {
      @include toggler-inner;

      left: 2px;
      background-color: $primary-color;
      transition: all 0.3s linear;
    }
  }
}
