$transition-burger: all 0.15s linear 0.4s;

.burger {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  &__inner {
    @include burger-inner;

    top: 45%;
    left: 5px;
    background-color: $dark-shades;
    transition: $transition-burger;

    &::before {
      @include burger-inner;

      top: -14px;
      content: "";
      background-color: $dark-shades;
      transition: $transition-burger;
    }

    &::after {
      @include burger-inner;

      top: 14px;
      content: "";
      background-color: $dark-shades;
      transition: $transition-burger;
    }
  }

  &-action {
    background-color: $light-shades;
    transition: $transition-burger;
    transform: rotate(135deg);

    &::before {
      @include burger-inner;

      top: 0;
      left: 0;
      content: "";
      background-color: $light-shades;
      transition: $transition-burger;
      transform: rotate(90deg);
    }

    &::after {
      @include burger-inner;

      top: 0;
      left: 0;
      content: "";
      background-color: $light-shades;
      transition: $transition-burger;
      transform: rotate(90deg);
    }
  }
}
