:root {
  font-size: 10px;
  line-height: 2;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  text-transform: capitalize;
}

@media (min-width: $extra-wide-width) {
  :root {
    scroll-snap-type: none;
  }
}
