.navigation {
  padding: 7rem;
  margin: 0;
  font-size: 2.4rem;
  font-weight: 900;
  text-align: center;
  list-style: none;

  &__item {
    padding: 0;
    margin: 0;

    &-link {
      color: $light-shades;
      text-decoration: none;
      transition: all 0.15s linear;

      &:hover {
        color: $danger-color;
        transition: all 0.15s linear;
      }
    }
  }
}
